/* Bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* app */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}
/* Universal selector */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Custom variables */
:root{
    --primary: black;
    --secondary: rgb(255, 255, 255);
    --alternative: #74a57a;
    --mainBShadow: .4vw .3vw .3vw var(--alternative);    
}
body{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
/* Select all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* logo */
img[alt='logo']{
    width: 5rem;
}
/* wrapper */
:is(.wrapper){
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}